@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

/* globals.css */
@keyframes spriteX { to { background-position-x: calc(-1 * var(--cols) * var(--tile)); } }
@keyframes spriteY { to { background-position-y: calc(-1 * var(--rows) * var(--tile)); } }

@font-face {
  font-family: 'Coral';
  src: url('/fonts/CoralPixels-Regular-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/RubikPixels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

a {
  cursor: pointer;
}

body {
  font-family: 'Work Sans', 'Courier New';
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
